body {
    font-family: "Lato";
    overflow-x: hidden;
    min-width: 320px;
}
.main__banner {
    min-height: 100vh;
    background: url('../img/header-bg.jpg') no-repeat center;
    background-size: cover;
    height: 1px;
    padding-bottom: 60px;
    position: relative;
}
.flex-center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}
.container--large {
    max-width: 900px;
    position: relative;
}
.main__banner-title {
    font-size: 54px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.main__banner-logo {
    display: block;
}
.main__banner-descr {
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.933;
    text-align: center;
}
.main__banner-sroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}
.about-us {
    padding: 150px 15px;
}
.bordered__block {
    min-height: 400px;
    border: 2px solid #3c3c3c;
    border-top: none;
    padding: 0 15px 40px;
}
.bordered__block--white {
    text-align: center;
}
.bordered__block--white .bordered__block-title {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.bordered__block-title {
    letter-spacing: 8px;
    font-size: 34px;
    color: rgb(60, 60, 60);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(-50%);
}
.bordered__block:before,
.bordered__block:after {
    content: '';
    width: 25%;
    height: 2px;
    top: 0;
    background-color: #3c3c3c;
    position: absolute;
}
.bordered__block:before {
    left: 0;
}
.bordered__block:after {
    right: 0;
}
.bordered__block-content {
    margin: 50px auto 0;
    max-width: 550px;
    text-align: center;
    font-size: 16px;
    color: rgb(60, 60, 60);
    line-height: 1.5;
}