body {
    font-family: "Lato";
    overflow-x: hidden;
    min-width: 320px;
}
.main__banner {
    min-height: 100vh;
    background: url('../img/header-bg.jpg') no-repeat center;
    background-size: cover;
    height: 1px;
    padding-bottom: 60px;
    position: relative;
}
.flex-center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}
.main__banner-title {
    font-size: 54px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.main__banner-logo {
    display: block;
}
.main__banner-descr {
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.933;
    text-align: center;
}
.main__banner-sroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}